/log.*
*~
/Cpanel-JSON-XS-*
/.gdbinit
/.bash_history
/*.patch
/META.yml
/MYMETA.json
/MYMETA.yml
/Makefile
/Makefile.old
/MANIFEST.files
*.bs
*.o
XS.bs
XS.c
XS.o
/blib
/pm_to_blib
/nohup.out
/Debian_CPANTS.txt
